<!DOCTYPE html>
<head>

<title> To do list</title>
<style>

body {background-color: rgb(112, 142, 202);

}
li { color: azure;
border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 50px 20px;
  background-color: rgb(0, 185, 252);}
button{
  border-radius: 30px;
}


</style>

</head>


<body>

<h1 style='text-align:center'> To do list</h1>
<h1>
<ul>
{%for todo in todos%}
<li>
{{todo['description']}}
<form method="POST" action="delete_todo/{{loop.index0}}"><input type="Submit" value="Delete"></form>
</li>
{%endfor%}
</ul>

</h1>
<form method="post">
<input name = "new_todo">
<input type = "submit">
</form>

</body>
















</html>